name: build and push app image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: docker login
        run: |
          docker login -u ${{secrets.USERNAME}} -p ${{secrets.PASSWORD}}
      - name: build runner image
        run: |
          docker build -t akshit8/certmanager-app ./app/
      - name: push docker image
        run: |
          docker push akshit8/certmanager-app
